@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.5rem;
}

.card {
  background: #e0e0e0;
  padding: 0.7rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.images {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.image {
  width: 75px;
  height: auto;
  border-radius: 8px;
}

.nickname {
  margin-left: 10px;
}

.removeButton {
  background-color: $secondary-color;
  color: white;
  @include button-style;
}
