@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.field {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldLabel {
  display: inline;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: $primary-color;
}

.errorMessage {
  color: $secondary-color;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}

.input {
  margin-left: 10px;
}
